<div class="relative w-full flex border border-neutral-200 bg-neutral-50 rounded-md focus-within:border-rose-800">
  <input
    [type]="type"
    class="peer block px-2.5 pb-2.5 pt-4 w-full text-sm text-rose-950 caret-rose-950 bg-transparent appearance-none h-12 font-light
    focus:outline-none focus:ring-0"
    placeholder=" "
    [id]="inputId"
    [value]="value"
    (input)="onInput($event)"
  />

  <label
    [for]="inputId"
    class="absolute text-sm text-gray-500  duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] font-light
           bg-neutral-50  px-2
           peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2
           peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4
           peer-focus:text-rose-800  start-1
           peer-focus:bg-gradient-to-t peer-focus:from-neutral-50 to-white
           peer-focus:font-normal"
  >
    {{ label }}
  </label>

  <div class="flex items-center py-1 px-2">
    <ng-content></ng-content>
  </div>
</div>
